.video-embed-container {
  position: relative;
  width: 100%;
  margin: 1.5rem 0;
  border-radius: var(--ifm-code-border-radius);
  overflow: hidden;
  box-shadow: var(--ifm-global-shadow-lw);
}

.video-embed-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
